apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: {{.Release.Namespace}}
  name: {{.Release.Name}}-song-pv-test
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: local-storage
  hostPath:
#    path: "/mnt/d/Programming/projects/testVolume"
    path: "/mnt/c/{{.Release.Namespace}}/test"
    
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: {{.Release.Namespace}}
  name: {{.Release.Name}}-song-claim-test
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 2Gi
            
