server:
  port: 8083
  
spring:
  application:
    name: eureka-registry
  
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    service-url:
      defaultZone: ${SERVICE_REGISTRY_URL}
