server:
  port: 9999

spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://auth-server:9999
        client:
          storages-client:
            registration:
              client-id: storages-service
              client-secret: "{noop}secret"
              client-name: storages service
              client-authentication-methods:
                - client_secret_basic
              authorization-grant-types:
                - client_credentials
#              scopes:
#                - openid
#                - storages.read