spring:
  profiles:
    active: ${SPRING_PROFILE}
  application:
    name: resource-service
  datasource:
    url: ${RESOURCES_DB_URL}
    username: ${RESOURCES_DB_USR}
    password: ${RESOURCES_DB_PWD}
  sql:
    init:
      mode: always
      schema-locations: classpath*:sql/schema.sql
  # =============================================
  # KAFKA SETTINGS
  # =============================================
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
  #=============================================
  # HIBERNATE PROPERTIES
  # =============================================
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
      naming:
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      client:
        registration:
          storages-client-oidc:
            provider: spring
            client-id: storages-client
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:8585/login/oauth2/code/{registrationId}"
            scope: openid
            client-name: storages-client-oidc
          storages-client-authorization-code:
            provider: spring
            client-id: storages-client
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:8585/authorized"
            scope: storages.read
            client-name: storages-client-authorization-code
        provider:
          spring:
            issuer-uri: http://auth-server:9999

# =============================================
# SERVER SETTINGS
# =============================================
server:
  port: ${SERVER_PORT}

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 100
        permittedNumberOfCallsInHalfOpenState: 10
        slowCallDurationThreshold: 4s
        slowCallRateThreshold: 90
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        minimumNumberOfCalls: 10
    instances:
      saveResource:
        baseConfig: default
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.io.IOException
          - java.util.concurrent.TimeoutException
          - org.springframework.web.client.ResourceAccessException
          - org.springframework.web.client.HttpClientErrorException
        ignoreExceptions:
      getStorages:
        baseConfig: default
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.io.IOException
          - java.util.concurrent.TimeoutException
          - org.springframework.web.client.ResourceAccessException
          - org.springframework.web.client.HttpClientErrorException
        ignoreExceptions:

# =============================================
# MONITORING
# =============================================
management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1.0

logstash:
  host: logstash
  port: 7000
  queue-size: 512
