# =============================================
# SERVER SETTINGS
# =============================================
server:
  port: 8585

spring:
  # =============================================
  # DATASOURCE PROPERTIES
  # =============================================
  datasource:
    url: jdbc:postgresql://localhost:5432/resources_db
    username: user
    password: password
  # =============================================
  # KAFKA SETTINGS
  # =============================================
  kafka:
    bootstrap-servers: :29093
  security:
    oauth2:
      client:
        registration:
          storages-client-oidc:
            provider: spring
            client-id: storages-client
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:8585/login/oauth2/code/{registrationId}"
            scope: openid
            client-name: storages-client-oidc
          storages-client-authorization-code:
            provider: spring
            client-id: storages-client
            client-secret: secret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:8585/authorized"
            scope: storages.read
            client-name: storages-client-authorization-code
        provider:
          spring:
            issuer-uri: http://auth-server:9999


# =============================================
# API GATEWAY
# =============================================
api:
  gateway:
    url: http://localhost:8080

# =============================================
# S3 STORAGE
# =============================================
s3:
  storage:
    url: http://localhost:9000
    bucket: test-bucket
    credentials:
      user: minio_user
      password: minio_password

# =============================================
# SERVICE REGISTRY
# =============================================
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8083/eureka

